.about-image {
  width: 46%;
  display: inline-block;
  margin-top: 3.5em;
}
.about-image img {
  height: 12em;
  width: 36.7em;
}
.main-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Height of the footer */
  /* background: #6cf; */
}
.container {
  /* margin-top: 34em; */
}
.container .bg-img {
  height: 37em;
  width: 78.97em;
}
#row {
  margin-top: -23em;
}
#right {
  color: white;
}
.contact-info {
  max-width: 250px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-left: 63em;
  list-style: none;
  margin-top: -9em;
}
.contact-info h4 {
  margin-bottom: 5px;
}
.col {
  max-width: 250px;
  /* display: flex; */
  /* flex-wrap: wrap; */
  margin-bottom: 20px;
  margin-left: 63em;
  list-style: none;
}
.col h4 {
  margin-bottom: 5px;
}
.col ui {
  display: flex;
  justify-content: space-between;
  width: 6em;
}
.mscfooterlogo {
  width: 50%;
}
.mscfooterlogo img {
  width: 600px;
}
.row p {
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.row {
  margin-top: 4em;
  color: white;
}